<section id="about">
    <div class="about-content">
        <div class="about-primaryImage">
            <img src="assets/img/filmes/viagem_chihiro.png" alt="" width="341" height="403">
        </div>
        <div class="about-text">
            <div class="about-top">
                <ul>
                    <li>2001 </li>
                    <li>2h 5min </li>
                    <li>Hayao Miyazaki </li>
                    <li>Studio Ghibli</li>
                </ul>
            </div>
            <div class="text-center">
                "<span>A Viagem de Chihiro</span>" é uma animação do <span>Studio Ghibli</span>, dirigida por Hayao Miyazaki, que conta a história
                de Chihiro, uma menina de 10 anos que, ao mudar-se com os pais, acaba entrando em um mundo mágico cheio
                de espíritos, deuses e criaturas misteriosas. Ao ver seus pais transformados em porcos, Chihiro precisa
                encontrar coragem para trabalhar em uma casa de banhos comandada pela bruxa Yubaba, e assim buscar uma
                forma de libertá-los. Ao longo de sua jornada, ela descobre a importância da amizade, da perseverança e
                do autoconhecimento.
            </div>
            <div class="text-streaming">
                <div class="te">
                    <span>Streaming</span>

                </div>
                <img src="assets/img/netflix.png" alt="" width="76" height="76">
            </div>
        </div>
        <div class="about-secondImage">
            <img src="assets/img/chihiro_haku.png" alt="" width="691" height="430">
        </div>
    </div>
</section>