<section id="footer">
    <div class="footer-content">
         <div class="footer-inner">
             <div class="footer-title">
                 <h1>Tem uma ideia? Me conta!</h1>
                 <h2>Curtiu o site? Tem algum outro filme que você acha que merecia uma página especial como essa?
                     <br>Preencha o formulário abaixo e me envie sua sugestão!
                 </h2>
             </div>
             <div class="footer-form">
                 <form action="" class="">
                     <h1>Envie sua Sugestão</h1>
                     <div class="footer-input">
                         <label for=""></label>
                         <input placeholder="Nome: " type="text">
                     </div>
                     <div class="footer-input">
                         <label for=""></label>
                         <input placeholder="E-mail:" type="email">
                     </div>
                     <textarea placeholder="Sua sugestão">
     
                     </textarea>
                     <button>Enviar</button>
                 </form>
             </div>
             <div class="footer-image">
                 <img src="assets/img/chihiro_footer.png" alt="" width="1099" height="594">
             </div>
         </div>
        <div class="footer-background"></div>
    </div>
    
</section>