<section id="header">
  <div class="header-content">
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav [class.active]="menuOpen" class="header-nav">
      <div class="nav-logo">
        <a href="">cineHistory</a>
      </div>

      <ul>
        <li (click)="scrollToSection('hero')" [class.active]="activeSection === 'hero'">Início</li>
        <li (click)="scrollToSection('about')" [class.active]="activeSection === 'about'">Sobre o filme</li>
        <li (click)="scrollToSection('movie')" [class.active]="activeSection === 'movie'">Studio Ghibli</li>
      </ul>

      <div class="empresa">
        <span (click)="scrollToSection('footer')" [class.active]="activeSection === 'footer'">Enviar sugestão</span>
      </div>
    </nav>
  </div>
  <!-- <div class="button-inicio">
    <button (click)="scrollToSection('hero')">^</button>
  </div> -->
</section>