// Cores
$cor-principal: #456467;
$cor-secundaria: #549298;
$cor-terciaria: #B4596A;
$cor-destaque-principal: #00FFAA;
$cor-destaque-secundaria: #ff7992;
$cor-clara: #fff;

// Fontes
$fonte-corpo: "Poppins", sans-serif;      // para textos normais
$fonte-titulo: "Dressing", sans-serif;    // para títulos
$fonte-hero: "Kosugi Maru", sans-serif;
