<section id="movie">
    <div class="movie-content">
        <h1>Studio Ghibli</h1>
        <div class="movie-ghibli">
             <img src="assets/img/filmes/totoro.png" alt="" width="257" height="304">
            <img src="assets/img/filmes/castelo_animado.png" alt="" width="257" height="304">
            <img src="assets/img/filmes/poyo.png" alt="" width="257" height="304">
            <img src="assets/img/filmes/mononoke.png" alt="" width="257" height="304">
        </div>
    </div>
</section>